<div class="search-bar my-3">
  <h4>Search</h4>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <!-- <div class="row align-items-center my-2">
    <span>Applied Filters:</span>
    <span *ngFor="let category of categories" class="ms-2">
      <span *ngIf="category.flag">{{ category.name }}</span>
    </span>
  </div> -->
  <!-- <div class="d-flex align-items-center flex-wrap my-2">
    <span>Applied Filters:</span>
    <span *ngFor="let category of categories"  class="ms-2">
      <i *ngIf="category.flag">{{ category.name }} <button class="btn btn-sm" (click)="category.flag=false">X</button></i>
    </span>
  </div> -->
  <div class="d-flex align-items-center flex-wrap my-2">
    <span>Applied Filters:</span>
    <span *ngFor="let category of categories"  class="ms-2">
      <!-- {{ category.name }}
      <button class="btn btn-sm btn-danger ms-1 px-2 py-0" (click)="category.flag = false">X</button> -->
      <i *ngIf="category.flag"  class="badge bg-light text-dark border mx-2 p-2">{{ category.name }} <button class="btn btn-sm" (click)="category.flag=false;btnclicks(category.name)">X</button></i>

    </span>
  </div>
  
  <!-- <div class="row">Applied Filters: <span *ngFor="let category of categories" ><div *ngIf="category.flag">{{category.name}}</div></span></div> -->
  <div class="row">
    <div class="col-md-3">
      <h5>Categories</h5>
        <span *ngFor="let category of categories">{{ category.name }} &nbsp; <input type="checkbox" (click)="btnclick(category.name,$event)" [(ngModel)]="category.flag"><br></span>
    </div>
    <div class="col-md-9">
      <div class="d-flex justify-content-between">
        <h5>Items: {{catitems.length}}</h5>
        <button class="btn btn-sm bg-danger" style="color: white;"  data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
          aria-controls="staticBackdrop" 
        >Sort</button>
      </div>
      <div class="row">
        <div *ngFor="let item of catitems" class="col-md-4 mb-3">
          <div class="card p-3">
              <h6 >{{ item.name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="offcanvas offcanvas-end" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title creation_card_text" id="staticBackdropLabel">Filter By</h6>
        <button type="button" #closeButton class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"
            (click)="reset()"></button>
    </div><hr>
    <div class="offcanvas-body">
        <b>Sort</b><br>
        <button class="btn btn-sm" style="background-color: red;color: white;">A-Z</button>&nbsp;
        <button class="btn btn-sm" style="background-color: red;color: white;">Z-A</button>
    </div>
</div>